.theme-aurora {
    --bg: #0F0720;
    --bg2: #0F0720CC;
    --bg3: #0F072099;
    --a1: #6D28D9;
    --a2: #DB2777;
    --a3: #F0ABFC;
    
    --a1-rgb: 109, 40, 217;
    --a2-rgb: 219, 39, 119;
    --a3-rgb: 240, 171, 252;
}