.theme-emerald {
    --bg: #022C22;
    --bg2: #022C22CC;
    --bg3: #022C2299;
    --a1: #059669;
    --a2: #14B8A6;
    --a3: #A7F3D0;
    
    --a1-rgb: 5, 150, 105;
    --a2-rgb: 20, 184, 166;
    --a3-rgb: 167, 243, 208;
}