.theme-forest {
    --bg: #0A1F0F;
    --bg2: #0A1F0FCC;
    --bg3: #0A1F0F99;
    --a1: #166534;
    --a2: #D97706;
    --a3: #FCD34D;
    
    --a1-rgb: 22, 101, 52;
    --a2-rgb: 217, 119, 6;
    --a3-rgb: 252, 211, 77;
}