.theme-graphite {
    --bg: #121212;
    --bg2: #121212CC;
    --bg3: #12121299;
    --a1: #2D2D2D;
    --a2: #2563EB;
    --a3: #60A5FA;
    
    --a1-rgb: 45, 45, 45;
    --a2-rgb: 37, 99, 235;
    --a3-rgb: 96, 165, 250;
}