.theme-midnight {
    --bg: #0B0B1F;
    --bg2: #0B0B1FCC;
    --bg3: #0B0B1F99;
    --a1: #312E81;
    --a2: #7C3AED;
    --a3: #C084FC;
    
    --a1-rgb: 49, 46, 129;
    --a2-rgb: 124, 58, 237;
    --a3-rgb: 192, 132, 252;
}