.theme-navy {
    --bg: #0A1A2F;
    --bg2: #0A1A2FCC;
    --bg3: #0A1A2F99;
    --a1: #1E3A8A;
    --a2: #B45309;
    --a3: #FCD34D;
    
    --a1-rgb: 30, 58, 138;
    --a2-rgb: 180, 83, 9;
    --a3-rgb: 252, 211, 77;
}