.theme-oceano {
    --bg: #0A1929;
    --bg2: #0A1929CC;
    --bg3: #0A192999;
    --a1: #1D4ED8;
    --a2: #06B6D4;
    --a3: #10FFCB;
    
    --a1-rgb: 29, 78, 216;
    --a2-rgb: 6, 182, 212;
    --a3-rgb: 16, 255, 203;
}