.theme-quartz {
    --bg: #1A1423;
    --bg2: #1A1423CC;
    --bg3: #1A142399;
    --a1: #9D7E9E;
    --a2: #C79ECF;
    --a3: #F1D3E7;
    
    --a1-rgb: 157, 126, 158;
    --a2-rgb: 199, 158, 207;
    --a3-rgb: 241, 211, 231;
}