.theme-rose {
    --bg: #1A0F14;
    --bg2: #1A0F14CC;
    --bg3: #1A0F1499;
    --a1: #B4536B;
    --a2: #F59E0B;
    --a3: #FDE68A;
    
    --a1-rgb: 180, 83, 107;
    --a2-rgb: 245, 158, 11;
    --a3-rgb: 253, 230, 138;
}