.theme-slate {
    --bg: #0F172A;
    --bg2: #0F172ACC;
    --bg3: #0F172A99;
    --a1: #334155;
    --a2: #0284C7;
    --a3: #7DD3FC;
    
    --a1-rgb: 51, 65, 85;
    --a2-rgb: 2, 132, 199;
    --a3-rgb: 125, 211, 252;
}