.theme-sunset {
    --bg: #1F0F0A;
    --bg2: #1F0F0ACC;
    --bg3: #1F0F0A99;
    --a1: #C2410C;
    --a2: #E11D48;
    --a3: #FECACA;
    
    --a1-rgb: 194, 65, 12;
    --a2-rgb: 225, 29, 72;
    --a3-rgb: 254, 202, 202;
}