.theme-terra {
    --bg: #1C0F0A;
    --bg2: #1C0F0ACC;
    --bg3: #1C0F0A99;
    --a1: #B45309;
    --a2: #F97316;
    --a3: #FED7AA;
    
    --a1-rgb: 180, 83, 9;
    --a2-rgb: 249, 115, 22;
    --a3-rgb: 254, 215, 170;
}