.theme-wine {
    --bg: #1E0B14;
    --bg2: #1E0B14CC;
    --bg3: #1E0B1499;
    --a1: #9D174D;
    --a2: #C2410C;
    --a3: #FED7AA;
    
    --a1-rgb: 157, 23, 77;
    --a2-rgb: 194, 65, 12;
    --a3-rgb: 254, 215, 170;
}